<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Jonathan Poso</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/portfolio/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/portfolio/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/portfolio/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/portfolio/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/portfolio/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/portfolio/vendor/venobox/venobox.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Template Main CSS File -->
  <link href="static/portfolio/css/main.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header-tops">
    <div class="container">

      <h1><a href="/">Jonathan Poso</a></h1>
      <h2>I'm a full-stack <span>software engineer</span> from Silicon Valley</h2>

      <nav class="nav-menu d-none d-lg-block">
        <ul >
          <li  class="active"><a href="#header">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#resume">Resume</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="mailto:jonposo@gmail.com?subject=Email from Portfolio">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <div class="social-links">
        <a href="https://www.instagram.com/jonny_number_five/?hl=en" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="https://github.com/Stormlight-Coding" class="github"><i class="icofont-github"></i></a>
        <a href="https://www.linkedin.com/in/jonathan-poso-7a353547" class="linkedin"><i class="icofont-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/portfolio/img/bg.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Full Stack Software Engineer</h3>
          <p class="font-italic">
            Three years experience of building single and multiple-page applications. I have worked with small teams building personal projects for hack-a-thons where I focused on back-end dev & TDD. I have an eye for being able to backwards engineer most things and figure out how they work and/or how to improve on them. I have done this with coding, music and point of sale systems.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Github:</strong> <a href="https://github.com/Stormlight-Coding"> Stormlight-Coding</a></li>
                <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> <a href="http://jonposo.com">jonposo.com</a></li>
                <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +209 988 6811</li>
                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> San Jose, USA</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 33</li>
                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Bachelor's</li>
                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> jonposo@gmail.com</li>
                <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
              </ul>
            </div>
          </div>
          <p>
            I have spent years as a manager in various operation roles and have a proven track record of increasing sales, cultivating a team mentality, growing staff and guest satisfaction while maintaining the highest level of quality through writing training programs and exceeding monetary goals.
            <br><br>Since then, I began to teach myself coding and eventually enrolled in a course to solidify my skillset. While I primarily have worked on my own as a freelancer, I have also worked with small teams building personal projects for hack-a-thons where I focused on back-end and front-end development as well as tested and debugged other people's code.
            <br><br>I have a passion for learning and I have discovered coding gives me the same sense of wonder that music has for my entire life. Currently, I am working as a Freelance Developer while looking for a role with a great team that will provide me with a chance to expand my developing skills and give me the opportunity to contribute in a meaningful way.
          </p>
        </div>
      </div>

    </div><!-- End About Me -->


    <!-- <!- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">HTML <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CSS <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Python <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Django <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">SQL <i class="val">55%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills -->

    <!-- ======= Other Skills ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Other Skills</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="icofont-flask" style="color: #ffbb2c;"></i>
            <h3>Flask</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="icofont-brand-apple" style="color: #5578ff;"></i>
            <h3>Swift</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="icofont-file-javascript" style="color: #e80368;"></i>
            <h3>ReactJS</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="icofont-github" style="color: #e361ff;"></i>
            <h3>Github</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="icofont-gear-alt" style="color: #47aeff;"></i>
            <h3>APIs</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="icofont-rss-feed" style="color: #ffa76e;"></i>
            <h3>jQuery</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="icofont-cloudapp" style="color: #11dbcf;"></i>
            <h3>AWS</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="icofont-brand-linux" style="color: #4233ff;"></i>
            <h3>Linux</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="icofont-file-sql" style="color: #b2904f;"></i>
            <h3>NoSQL</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="icofont-code-alt" style="color: #b20969;"></i>
            <h3>TypeScript</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="icofont-brand-ubuntu" style="color: #ff5828;"></i>
            <h3>Ubuntu</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="icofont-horse-head-1" style="color: #29cc61;"></i>
            <h3>Gunicorn</h3>
          </div>
        </div>
      </div>

    </div><!-- End Other Skills -->

    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>Testimonials</h2>
      </div>

      <!-- <div class="owl-carousel testimonials-carousel"> -->

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Jonathan created a custom feature on our website for us. He visualized our project beautifully, took what we (literally!) sketched on paper and brought it to life for web, and did so within a very tight, demanding timeline to help our website launch with great success. He also made last-minute modifications (2 rounds) and is keeping in contact with us for further projects and updates to this current one. <br><br>I couldn't recommend Jonathan more highly; he has been a great design/technical asset to our very nimble organization.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="static/portfolio/img/testimonials/erin.jpg" class="testimonial-img" alt="">
          <h3>Erin Bowdish</h3>
          <h4>Director of Communications &amp; Community Engagement, Hillbrook School</h4>
        </div>
      </div>

      <div class="testimonials container">

        <div class="section-title">
          <h2>Interests</h2>
        </div>

          <div class="testimonial">
            <p>
              Outside of software engineering, I enjoy camping and backpacking around the Bay Area as well as making annual trips to Yosemite. I also love to dive into a good fantasy novel (Rothfuss and Sanderson are my current favorites) as well as binging on a good tv show. <br><br>I've also had a passion for music at a very young age when I started teaching myself piano. After studying music through college, I now play at local venues as a side gig and am a member of the band STRATA where we have been featured on Sirius XM radio and Alt Nation 105.3.
            </p>
          </div>
        </div>

        <!-- ======= Awards ======= -->
        <div class="interests container">

          <div class="section-title">
            <h2><i class="icofont-award" style="color: #ffbb2c; width: 25%;"></i>  Awards</h2>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-4" style="margin-bottom: 30px;">
              <div class="icon-box">
                <i class="icofont-file-python" style="color: #29cc61;"></i>
                <h3 style="font-size: .9em;">Hack-a-thon First Place Award</h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4" style="margin-bottom: 30px;">
              <div class="icon-box">
                <i class="icofont-brand-apple" style="color: #5578ff;"></i>
                <h3 style="font-size: .9em;">Hack-a-thon First Place Award</h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4" style="margin-bottom: 30px;">
              <div class="icon-box">
                <i class="icofont-brand-apple" style="color: #5578ff;"></i>
                <h3 style="font-size: .9em;">Hack-a-thon First Place Award</h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4" style="margin-bottom: 30px;">
              <div class="icon-box">
                <i><img src="static/portfolio/favicon-2014-32x32.png"></i>
                <h3 style="font-size: .9em;">Leader of the Quarter</h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4" style="margin-bottom: 30px;">
              <div class="icon-box">
                <i><img src="static/portfolio/favicon-2006-32x32.png"></i>
                <h3 style="font-size: .9em;">Hall of the Year - President</h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4" style="margin-bottom: 30px;">
              <div class="icon-box">
                <i><img src="static/portfolio/favicon-2005-32x32.png"></i>
                <h3 style="font-size: .9em;">MTAC Piano Scholarship</h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4" style="margin-bottom: 30px;">
              <div class="icon-box">
                <i><img src="static/portfolio/favicon-2005-32x32.png"></i>
                <h3 style="font-size: .9em;">SJSU Piano Scholarship</h3>
              </div>
            </div>
          </div>


        </div><!-- End Awards -->

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Jonathan Poso</h4>
            <p><em>Software Engineer with 3 years of freelance experience designing, developing and deploying single and multi-page web and mobile applications. </em></p>
            <p>
            <ul>
              <li>Silicon Valley</li>
              <li>+209 988 6811</li>
              <li>jonposo@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Technical Certification - Software Engineer</h4>
            <h5>2017</h5>
            <p><em>Coding Dojo, San Jose, CA</em></p>
            <p>Dedicated over 1000+ hours of coding experience, including the ability to deploy a full website from client to server to database while acquiring the knowledge and skills for full stack web development. (Python, Swift, MEAN).</p>
          </div>
          <div class="resume-item">
            <h4>Bachelor of Arts - English</h4>
            <h5>2005 - 2010</h5>
            <p><em>San Jose State University, San Jose, CA</em></p>
            <p>Received MTAC and SJSU Scholarship for Music Achievement (Piano Performance). Served as President Washburn Hall’s Student Government. Awarded “Hall of the Year”.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Freelance Software Engineer</h4>
            <h5>2018 - Present</h5>
            <p><em>Silicon Valley, CA </em></p>
            <p>
            <ul>
              <li>Built both single page and multi-page web applications using both front-end and back-end technologies.</li>
              <li>Projects were built based on client specifications while taking into consideration any changes or updates in a timely manner. </li>
              <li> I was also responsible for adhering to the specific design system as well as making the pages optimal for mobile devices.</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Manager  &amp; Maitre'D </h4>
            <h5>2015 - Present</h5>
            <p><em>LB Steak, San Jose, CA</em></p>
            <p>
            <ul>
              <li>Managed all day-to-day front of the house operations with $9MM in revenue while maintaining fine dining standards for all staff.</li>
              <li>Oversaw all aspects of Human Resources on-site.</li>
              <li>Directly managed all bar operations while developing programs and incentives that increased sales.</li>
              <li>Developed training programs for staff which led to an increase in sales and productivity.</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
      <br><br>
      <h3 style="text-align: center">downloadble resume: <a href="static/portfolio/img/Jonathan Poso - Resume.pdf"><i class="icofont-papers" style="color: #29cc61;"></i></a></h3>


    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>My Works</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Personal</li>
            <li data-filter=".filter-web">Professional</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img  src="static/portfolio/img/portfolio/hillbrook.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Supporting Our People</h4>
              <p>Professional Project</p>
              <div class="portfolio-links">
                <a href="/support" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Project Info"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="static/portfolio/img/portfolio/algo-copy.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Algo Alarm</h4>
              <p>Personal Project</p>
              <div class="portfolio-links">
                <a href="/algo" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Project Info"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img  src="static/portfolio/img/portfolio/strata1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Strata</h4>
              <p>Professsional Project</p>
              <div class="portfolio-links">
                <a href="/strata" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Project Info"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="static/portfolio/img/portfolio/wedding.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Nathan and Laura</h4>
              <p>Professional Project</p>
              <div class="portfolio-links">
                <a href="/wedding" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Project Info"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img  src="static/portfolio/img/portfolio/hillbrook.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>By the Numbers</h4>
              <p>Professional Project</p>
              <div class="portfolio-links">
                <a href="/numbers" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Project Info"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="static/portfolio/img/portfolio/smartlist.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Smart-list</h4>
              <p>Personal Project</p>
              <div class="portfolio-links">
                <a href="/list" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Project Info"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img  src="static/portfolio/img/portfolio/berries1.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Barry's Berries</h4>
              <p>Personal Project</p>
              <div class="portfolio-links">
                <a href="/barry" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Project Info"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>


  <!-- Vendor JS Files -->
  <script src="static/portfolio/vendor/jquery/jquery.min.js"></script>
  <script src="static/portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/portfolio/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/portfolio/vendor/php-email-form/validate.js"></script>
  <script src="static/portfolio/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/portfolio/vendor/counterup/counterup.min.js"></script>
  <script src="static/portfolio/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/portfolio/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/portfolio/vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/portfolio/js/main.js"></script>

</body>

</html>
