<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>"Smart-List"</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/portfolio/img/favicon.png" rel="icon">
  <link href="static/portfolio/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/portfolio/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/portfolio/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/portfolio/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/portfolio/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/portfolio/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/portfolio/vendor/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/portfolio/css/main.css" rel="stylesheet">

</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">Smart-List</h2>
            <div class="owl-carousel portfolio-details-carousel">
              <img src="static/portfolio/img/portfolio/smartlist.png" class="img-fluid" alt="" style="width:auto; height: 40%;">
            </div>
          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Multi-Page Application</li>
              <li><strong>Role</strong>: Full Stack Developer</li>
              <li><strong>Technologies Used</strong>: Python, Django, jQuery, Materialize, NGINX, CSS, mySQL, Google Custom Search, YouTube and Facebook Login API. Deployed using AWS. </li>
              <li><strong>Project date</strong>: August, 2017</li>
              <li><strong>Project GitHub</strong>: <a href="https://github.com/Stormlight-Coding/smartlist-project" target="https://github.com/Stormlight-Coding/smartlist-project">Visit</a></li>
            </ul>

            <p>
              Task-manager that utilizes multiple online resources. For example, if a user entered the following task of "make dinner", it would return resources for recipes as well as videos of what and how to make different things for dinner.
            </p>

            <p>
              Created in 10 hours with a team of three. Python Hack-a-thon First Place Award.
            </p>

            <p>
              Responsible for writing the code making use of the YouTube API - hardcoded "how to" to preface whatever the user entered. Created the functions in the views.py responsible for handling the different calls to the different APIs. Created the functions in the views.py responsible for viewing and deleting the user history of different tasks. Wrote the models to handle the storage of the search history for the YouTube videos database side. Only Front-End work was coding the YouTube video results as a carousel.
            </p>
          </div>

        </div>

      </div>
    </div><!-- End Portfolio Details -->

  </main><!-- End #main -->


  <!-- Vendor JS Files -->
  <script src="static/portfolio/vendor/jquery/jquery.min.js"></script>
  <script src="static/portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/portfolio/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/portfolio/vendor/php-email-form/validate.js"></script>
  <script src="static/portfolio/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/portfolio/vendor/counterup/counterup.min.js"></script>
  <script src="static/portfolio/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/portfolio/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/portfolio/vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/portfolio/js/main.js"></script>

</body>

</html>
